.card{
    font-size:3rem;
    display:flex;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;

    border-radius:8px;
    border:1px solid green;
    color:#fff;
    background:#696969;
}

body{
    background:#000;
    color:#fff;
}